{% extends "base.html" %}
{% block title %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/password-login.css') }}">
<title>管理者ログイン -Extra Study-</title>
{% endblock %}
{% block body %}
<div class="body-container">
    <div class="h1-container">
        <h1 class="ja">管理者用ログイン</h1>
    </div>
    <div class="box_con">
        <form method="POST">
            {{ form.csrf_token }}
            <table class="formTable">
                <tr>
                    <th class="ja">管理者名</th>
                    <td>{{ form.admin(size="30") }}</td>
                </tr>
                <tr>
                    <th class="ja">パスワード1</th>
                    <td>{{ form.password1(size="30") }}</td>
                </tr>
                <tr>
                    <th class="ja">パスワード2</th>
                    <td>{{ form.password2(size="30") }}</td>
                </tr>
            </table>
            <p class="btn">
                <span>{{ form.submit(class="ja login") }}</span>
            </p>
        </form>
    </div>
</div>
{% endblock %}